@if (User.IsInRole("ADMIN") || User.IsInRole("EDITOR"))                        
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Administrar Articulos</a>
    </li>
}