@{
    var username = Context.Session.GetString("Username");
}
@if (!string.IsNullOrEmpty(username))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
    </li>
}