@{
    var username = Context.Session.GetString("Username");
}
@if (!string.IsNullOrEmpty(username))
{
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Hola, @username
    </button>
    <div class="dropdown-menu" aria-labelledby="userMenu">
        @if (User.IsInRole("ADMIN"))
            {
                <a class="dropdown-item" asp-controller="UserPrivileges" asp-action="Index">Privilegios</a>
            }
            <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Registrar</a>
    </li>
</ul>
}